{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Désolé, c'est moi, pas toi !</h1>
{% endblock %}

{% block body %}
    <p class="alert alert-warning">
        <a class="btn btn-warning" href="#">Laissez-moi réessayer</a>
         ou <a class="btn btn-warning" href="{{ path('homepage') }}">retour à la page d'accueil</a>.
    </p>
   
{% endblock %}